body {
    font-family: Arial, sans-serif;
    background-color: #eef1f5;
}

.card {
    background: #e5e7eb;
    border-radius: 12px;
    padding: 15px;
    width: 260px;
    display: inline-block;
    margin: 15px;
}

.card h3 {
    margin: 5px 0;
}

.view-btn {
    background: #2563eb;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}